<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <link rel="icon" href="#">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="w3-bar w3-light-grey w3-large">
    <a href="{{ url_for('index') }}" class="w3-bar-item w3-button">Home</a>
    {% if session.get("DISCORD_OAUTH2_TOKEN") %}
        <div class="w3-dropdown-hover w3-right">
            <button class="w3-button">{% block user_name %}{% endblock %} <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4" style="right:0">
                <a href="{{ url_for('guilds') }}" class="w3-bar-item w3-button">Guilds</a>
                <a href="{{ url_for('me') }}" class="w3-bar-item w3-button">Me</a>
                <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button">Logout</a>
            </div>
        </div>
    {% else %}
        <a href="{{ url_for('login') }}" class="w3-bar-item w3-right w3-button">Login</a>
    {% endif %}
</div>

{% block content %}
{% endblock %}
</body>
</html>