{% extends "html/base.html" %}
{% block title %}Guilds{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/guilds.css">
{% endblock %}
{% block content %}
    <div id="guilds" class="w3-container">
        <h1>Your guilds: </h1>
        <form action="" method="post">
            <div class="w3-container">
                <label>
                    <input id="input_1" name="guild_name" type="text" class="w3-input w3-medium"
                           placeholder="Want to search for in guilds? Search here."
                           value="{{ guild_name if guild_name }}">
                </label>
            </div>
            {#            <button name="submit" value="submit">Submit</button>#}
        </form>
        {% set guild_name = request.form['guild_name'] %}
        {% if guild_names %}
            {% if guild_name %}
                <p> Found {{ guild_names|length }} guild{{ 's' if guild_names|length > 1 else '' }} with
                    name {{ guild_name }}.</p>
            {% else %}
                <p> You're a admin or owner in {{ guild_names|length }} guilds.</p>
            {% endif %}
            <ol>
                {% for guild_name in guild_names %}
                    <li>{{ guild_name }}</li>
                {% endfor %}
            </ol>

        {% else %}
            <p>No guild with name {{ guild_name }} found.</p>
        {% endif %}
    </div>
{% endblock %}
{% block version %}
    {{ version_1 }}
{% endblock %}