{% extends "html/base.html" %}
{% block title %}OpenCity-Dashboard{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/index.js"></script>
    {#    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">#}
    {#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
{% endblock %}
{% block content %}
<h1 id="test">Hello{{ ' ' + (user.name if user else 'World') }}!</h1>

{#    {% if not logined %}#}
{#        <button onclick="location.href = `{{ url_for('login') }}`">Login</button>#}
{#    {% else %}#}
{#        <button onclick="location.href = `{{ url_for('logout') }}`">Logout</button>#}
{#    {% endif %}#}

{% for text, formatter, button_link in texts|zip(formatters, button_links, fillvalue='') %}
<div class="w3-container">
    <h1> {{ text.title }}</h1>
    {% autoescape off %}
    <p> {{ text.description.format(formatter[0])|inner_render({"url_for": url_for}) }} </p>
    {% endautoescape %}
    <button onclick="location.href = `{{ button_link|inner_render({"url_for": url_for}) }}`"
            class="w3-hover-light-blue w3-blue w3-button"> {{ text.button_name }} </button>
</div>
{% endfor %}
{% endblock %}
{% block version %}
    {{ version_1 }}
{% endblock %}