<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenCity-Dashboard</title>
    <script src="/static/js/index.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" href="#"/>
</head>
<body>
<h1 id="test">Hello World!</h1>
<button><a
        href="https://discord.com/api/oauth2/authorize?client_id=651420362940088336&redirect_uri=https%3A%2F%2Fopencity-dashboard.herokuapp.com%2Floggedin&response_type=code&scope=guilds%20identify">Login</a>
</button>
</body>
</html>