#user_name_button-1 {
    width: 175px;
    position: initial;
}

#avatar-user-url-button {
    width: 16.8%;
}

.body-container {
    padding-top: 25px !important;
    padding-bottom: 150px !important;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: auto;
}
